---
import PageLayout from "@/layouts/PageLayout.astro";
import Card from "@fylgja/Card.astro";
import Youtube from "@fylgja/Youtube.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import dataJson from "./data.json";
import SpeakingImg from "@/assets/speaking.webp";

interface Speaker {
	type: "event" | "video";
	title: string;
	link: string;
	description?: string;
	image?: string;
	pubDate?: string;
	videoStart?: number;
}

const data = dataJson as Speaker[];

const imageGlob = import.meta.glob<{ default: ImageMetadata }>(
	"./assets/*.{jpg,jpeg,png,webp,avif}",
);
const images: Record<string, ImageMetadata> = Object.fromEntries(
	await Promise.all(
		Object.entries(imageGlob).map(async ([path, loader]) => {
			const mod = await loader();
			return [path.replace("./assets/", ""), mod.default];
		}),
	),
);

const pageTitle = "Speaking";
const pageDescription =
	"An overview of the events, conferences, and videos where I have shared my knowledge and experiences.";
---

<PageLayout
	title={pageTitle}
	description={pageDescription}
	image={SpeakingImg}
	class="container"
	breadcrumbs={[
		{ name: "Home", item: "/" },
		{ name: "Speaking", item: "/speaking/" },
	]}
>
	<h1>{pageTitle}</h1>
	<p>{pageDescription}</p>
	<ul role="list" class="auto-grid gap" style="--max-col-size: 34ch">
		{
			data.map((speaker, index) => {
				const loading = index < 2 ? "eager" : "lazy";
				return (
					<Fragment>
						{speaker.type === "video" ? (
							<Card tag="li">
								<Youtube
									src={speaker.link}
									start={speaker.videoStart}
									title={speaker.title}
									loading={loading}
									style={{
										width: "100%",
										height: "100%",
									}}
								/>
							</Card>
						) : (
							<Card tag="li" class="stack">
								{speaker.image && images[speaker.image] && (
									<Image
										src={images[speaker.image]}
										width={840}
										height={480}
										alt=""
										loading={loading}
										class="w-full"
									/>
								)}
								<div class="card-content overlay align-self-end">
									<div class="flow-none">
										<p class="lead">
											<a
												href={speaker.link}
												class="stretched-link hover-underline"
												target="_blank"
												rel="noopener noreferrer"
											>
												{speaker.title}
											</a>
										</p>
										{speaker.pubDate && (
											<p class="post-meta">
												<FormattedDate date={speaker.pubDate} />
											</p>
										)}
									</div>
									<p class="post-body">{speaker.description}</p>
								</div>
							</Card>
						)}
					</Fragment>
				);
			})
		}
	</ul>
</PageLayout>

<style>
	.post-meta {
		font-size: 0.875em;
		font-style: italic;
		color: color-mix(in srgb, var(--overlay-fg) 75%, black);
	}

	.post-body {
		font-size: 0.875em;
	}
</style>
