---
import { sourceBaseUrls } from "../consts";
import SocialsIcons from "@/assets/socials.svg?url";

interface Props {
	sources: Record<string, string>;
}

const { sources } = Astro.props;

const data = Object.entries(sources).map(([key, value]) => {
	const baseUrl = (sourceBaseUrls as any)[key];
	const url = baseUrl ? baseUrl + value : value;
	return {
		key,
		url,
		label: key.charAt(0).toUpperCase() + key.slice(1),
	};
});
---

<div class="inline-flex align gap-sm">
	<span class="text-muted">Discuss on </span>
	<span class="flex-wrap gap-sm">
		{
			data.map((src) => (
				<a href={src.url} target="_blank" rel="noopener noreferrer" title={src.label}>
					<svg width="18" height="18" fill="currentcolor" aria-hidden="true">
						<use href={`${SocialsIcons}#${src.key}`} />
					</svg>
					<span class="sr-only">{src.label}</span>
				</a>
			))
		}
	</span>
</div>
