---
import SocialsIcons from "@/assets/socials.svg?url";

interface Props {
    data: {
        [key: string]: string;
    };
    size?: number;
}

const { data, size = 24 } = Astro.props;
---

<ul role="list" class="social-links flex-wrap gap">
    {
        Object.entries(data).map(([platform, url]) => (
            <li>
                <a href={url} target="_blank" rel="me noreferrer">
                    <svg width={size} height={size} fill="currentcolor">
                        <title>Me on ${platform}</title>
                        <use href={`${SocialsIcons}#${platform}`} />
                    </svg>
                </a>
            </li>
        ))
    }
</ul>
