---
import "@/assets/main.css";
import type { CollectionEntry } from "astro:content";

import Head from "@fylgja/Head.astro";
import ThemeToggleJs from "@/components/ThemeToggle/script.astro";
import PageHeader from "@/components/PageHeader.astro";
import PageFooter from "@/components/PageFooter.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import PostNavigation from "@/components/PostNavigation.astro";
import OriginalSource from "@/components/OriginalSource.astro";
import Tags from "@/components/Tags.astro";
import FallbackImage from "@/assets/placeholder/blue.jpg";

import { SITE_TITLE, SITE_DESCRIPTION, THEME_COLOR } from "../consts";

type BlogProps = CollectionEntry<"blog">["data"];
interface Props extends BlogProps {
    lang?: string;
    dir?: string;
    class?: string;
    prev?: CollectionEntry<"blog"> | null;
    next?: CollectionEntry<"blog"> | null;
}

const {
    title = SITE_TITLE,
    description = SITE_DESCRIPTION,
    pubDate,
    updatedDate,
    image = FallbackImage,
    tags = [],
    pubSource = "",
    lang = "en",
    dir = "ltr",
    class: className = "",
    prev,
    next,
} = Astro.props;
const rssUrl = new URL("feed.xml", Astro.site);
---

<html lang={lang} dir={dir} data-theme="auto">
    <Head
        siteName={SITE_TITLE}
        title={title}
        description={description}
        image={image}
        themeColor={THEME_COLOR}
        sitemap="/sitemap-index.xml"
        rss={rssUrl}
    >
        <ThemeToggleJs />
        <meta name="fediverse:creator" content="@GrimLink@mastodon.social" />
        <slot name="head" />
    </Head>
    <body>
        <PageHeader />
        <main
            class:list={["container", className]}
            style="--container-size: 68ch"
        >
            <article>
                <h1>{title}</h1>
                <div class="post-meta">
                    <span>
                        <FormattedDate date={pubDate} />
                        {
                            updatedDate && (
                                <span class="last-updated-on">
                                    Last updated on{" "}
                                    <FormattedDate date={updatedDate} />
                                </span>
                            )
                        }
                        {pubSource && <OriginalSource source={pubSource} />}
                    </span>
                </div>
                <slot />
                <Tags tags={tags} />
            </article>
            <hr />
            <PostNavigation prev={prev} next={next} />
        </main>
        <PageFooter />
    </body>
</html>

<style>
    .post-meta {
        font-style: italic;
        color: var(--color-muted);
    }
</style>
